{% extends 'main.html.twig' %}
{% block css %} 
 <style>
     .x_content{
         height:650px;
     }
 </style>
 {% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
    <div class="x_panel">
        <div class="page-title">
              <div class="title_left">
                <h2>Lista de Beneficiarios<small> ({{pagination.getTotalItemCount}})</small></h2>
              </div>
                 
                  <div class="title_right">
                       <form method="get" action="" class="form-inline" role="search">
                    <div class="form-group pull-right top_search ">
                      
                      <div class="input-group">
                        
                        <input type="text" value="{{ app.request.get('query') }}" name="query" class="form-control" placeholder="Nombre del Beneficiario">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                      </div>
                    </div>
                    </form>
                </div>
        </div>
        <div class="x_title">
         {#<h2>Listado de Almacén<small>()</small></h2>#}
        <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {#CONTENIDO#}
            <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Correo</th>
                <th>NIT / C.I.</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for benficiario in pagination %}
            <tr>
                <td><a href="{{ path('benficiario_show', { 'id': benficiario.id }) }}">{{ benficiario.id }}</a></td>
                <td>{{ benficiario.nombre }}</td>
                <td>{{ benficiario.empresa }}</td>
                <td>{{ benficiario.correo }}</td>
                <td>{{ benficiario.nitci }}</td>
                <td>
                    <a title="Editar Beneficiario" class="btn btn-primary" href="{{ path('benficiario_edit', { 'id': benficiario.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
         {# paginacion#}
        <div class="navigation">
          {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
