{% extends 'main.html.twig' %}
 {% block css %} 
 <style>
     .asd{
         margin-right:20px;
     }
     .mar{
         margin-right:50px;
     }
     .x_content{
         height:650px;
     }
 </style>
 {% endblock %}
{% block body %}
 
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
               <div class="page-title">
                    <div class="title_left">
                        <h2>Listado de Cheques <small> ({{pagination.getTotalItemCount}})</small></h2>
                    </div>
                    <div class="title_right">
                        <form method="get" action="" class="form-inline" role="search">
                            <div class="form-group pull-right top_search ">
                              <div class="input-group">
                                <input type="text" value="{{ app.request.get('query') }}" name="query" class="form-control" placeholder="Nro de Cheque ">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            <div class="x_title">
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {#CONTENIDO#}
                 <table class="table">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nro Comprobante</th>
                            <th>Nro Cheque</th>
                            <th>Monto</th>
                            <th>Beneficiario</th>
                            <th>Estado</th>
                            <th><span class="pull-right mar">Acciones</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cheque in pagination %}
                        <tr>
                            <td><a href="{{ path('cheque_show', { 'id': cheque.id, 'proId' : cheque.proId }) }}">{{ cheque.id }}</a></td>
                            <td>{{ cheque.bte }}</td>
                            <td>{{ cheque.cheque }}</td>
                            <td>{{ cheque.monto }}</td>
                            <td>{{ cheque.nombre }}</td>
                            <td>
                                 {% if cheque.estado == 1 %}
                                <span class="label label-default">No Impreso</span>
                                {% endif%}
                                {% if cheque.estado == 2 %}
                                    <span class="label label-success">Impreso</span>
                                {% endif%}
                                {% if cheque.estado == 4 %}
                                    <span class="label label-warning">Revertido</span>
                                {% endif%}
                            </td>
                            <td>
                                {% if cheque.estado != 4 %}
                                <a title="Generar Cheque" class="btn btn-default pull-right" href="{{ path('cheque_show', { 'id': cheque.id, 'proId': cheque.proId }) }}"><i class="fa fa-credit-card" aria-hidden="true"></i>
                                </a>
                                <a title="Editar Cheque" class="btn btn-primary pull-right" href="{{ path('cheque_add', { 'id': cheque.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a title="Anular Cheque" class="btn btn-danger pull-right" href="{{ path('cheque_anular', { 'id': cheque.id }) }}"  onclick="return confirm('¿ Esta usted seguro de anular el Cheque ?')"><i class="fa fa-trash-o" aria-hidden="true"></i>
                                 {% endif%}
                                
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="navigation">
          {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>


{% endblock %}
