{% extends 'main.html.twig' %}

{% block body %}

<style type="text/css">
         .contenedorCheque{
            background-image: url("{{ asset('img_cheque.png') }}");
            width: 627px;
            height: 264px;
            font-family: arial;
            color:#000;
         }
         h5{
            font-weight: bold;
         }
         .superior{
            width: 100%;
            height: 20%;
         }
         .inferior{
            width: 100%;
            height: 80%;
        }
        label{
            
            margin: 0;
            padding-top: 0;
        }
        .letr{
            font-size:15px;
            bold:0;
        }
        .fecha{
            margin-left: 215px;
            padding-top: 26px;
        }
        .monto{
            margin-top:36px;
            margin-right: 45px;
        }
        .nombre{
            display:block;
            padding-top: 14px;
            margin-left: 85px;
            font-size:12.5px;
        }
        .numeroLetra{
            display:block;
            padding-top: 5px;
            margin-left: 85px;
            margin-right:2px;
            font-size:12.5px;
        }
        /*----------------------------MODO IMPRESION--------------------------*/
        @media print {
        .inferior{
            width: 100%;
            height: 80%;
            margin-top:10px;
        }
        #print{
            display:none;
        }
        label{
            font-size:15px;
            font-weight:100;
        }
        .letr{
            font-size:15px;
            color:red;
        }
        .fecha{
          padding-top: 29px;
          padding-left:30px;
        }
        .nombre{
            display:block;
            width:100%;
            padding-top: 14px;
            font-size:14.5px;
            
        }
        .nav_menu{
            display:none;
        }
        .monto{
            margin-top:45px;
            margin-right:-62px;
            padding-right:0px;
        }
        .numeroLetra{
            display:block;
            padding-top: 8px;
            margin-left: 100px;
            margin-right:-72px;
            font-size:14.5px;
        }
        }
         </style>
    <h2 id="print">Cheque Nro " {{cheque.cheque}}"</h2>
    <table class="table">
        <div class="container">
            <div id="myPrintArea">
                <div class="contenedorCheque">
                        <div class="superior">
                            <label class="fecha"><span class="letr">Santa Cruz, {{fecha}}</span></label> 
                    
                            <label for="money" class="monto pull-right ">{{cheque.monto | number_format(2, ',', '.')}}</label>
                      </div>
                        <div class="inferior">   
                            <label class="nombre">{{cheque.benficiario}}</label>
                            <label class="numeroLetra">*** {{ montoLiteral }} ***</label>

                        </div>
                </div>
            </div>

         </div>      
    </table>

       <br></br>
     <input  class="btn btn-default noprint" type="button" value="Volver atrás" name="volver atrás2" onclick="history.back()" />
     <a href="" class="btn btn-primary noprint" onclick='window.print();'> Imprimir <i class="fa fa-print" aria-hidden="true"></i></a>
    
{% endblock %}


