{% extends 'base.html.twig' %}

{% block body %}
    <h1>Servicio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ servicio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ servicio.nombre }}</td>
            </tr>
            <tr>
                <th>Abrev</th>
                <td>{{ servicio.abrev }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('servicio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('servicio_edit', { 'id': servicio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
